<head>
  <title>Stock Viewer</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Stock Viewer" />
  <meta property="og:site_name" content="Stock Viewer" />
  <meta property="og:title" content="Stock Viewer" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Stock Viewer" />
  <link rel="stylesheet" href="/css/output.css" />
</head>
